body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2rem;
}

.messages {
    color: whitesmoke;
    font-size: 20px;
}

.jumbotron {
    background: url(../image/wideflame.gif);
    height: 275px;
    color: orangered;
}